.Channel .ChannelContent {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Channel .ChannelTitle {
    text-align: center;
}

.Channel .ChannelContent .MoviesContainer {
    overflow-x: auto;
}

.Channel .ChannelContent .SelectArrowContainer {
    margin: auto;
}

.Channel .ChannelContent .SelectArrow {
    display: inline-block;
    padding: 0 10px;
}

.Channel .ChannelContent .MoviesContainer .Block-Enable {
    z-index: 1000;
    border: none;
    margin: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
    cursor: wait;
    position: absolute;
    background-color: white;
}

.Channel .ChannelContent .MoviesContainer .BlockMessage {
    z-index = 1001;
    position: absolute;
    border: none;
    padding: 20px;
    margin: 0px;
    color: black;
    text-align: center;
    cursor: wait;
    background-color: white;
}
